<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Сводка бюджета</title>
</head>
<body>
    <div class="container">
        <h1>Сводка бюджета</h1>
        <p>Ваш доход: {{ income }}</p>
        <p>Общие расходы: {{ total_expenses }}</p>
        <p>Баланс: {{ balance }}</p>

        <h2>Расходы</h2>
        <ul>
            {% for category, amount in expenses.items() %}
                <li>{{ category }}: {{ amount }}</li>
            {% endfor %}
        </ul>

        <h2>Цель накопления</h2>
        <p>Сумма цели: {{ goal_amount }} {{ goal_currency }}</p>
        <p>Срок: {{ goal_months }} месяцев</p>
        <p>Необходимая сумма для накопления в месяц: {{ monthly_savings }}</p>

        <h2>Диаграмма расходов</h2>
        <img src="data:image/png;base64,{{ expense_chart }}" alt="Диаграмма расходов">

        <div class="navigation">
            <a href="/" class="btn">Назад на главную</a>
            <a href="{{ url_for('loan_calculator') }}" class="btn">Калькулятор кредитов и займов</a>
        </div>
    </div>
</body>
</html>
